* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif ;
}

header {
    height: 100px;
    /* background-color: gray; */
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

ul {
    display: flex;
    list-style-type: none;
}

/* ul li {
    display: inline-block;
} */

ul li {
    padding: 0 20px;
    display: inline-block;
}

ul li a {
    color: #3a3a3a;
    text-decoration: none;
}

ul li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition: all .5s;
}

ul li a:hover::after {
    width: 100%;
}